[Desktop Entry]
Type=Application
Name=PCM Transport
GenericName=Audio Player
Comment=Direct PCM audio player
Exec=pcm_transport %F
TryExec=pcm_transport
Icon=org.berestov.pcmtransport
Terminal=false
Categories=AudioVideo;Audio;Player;
MimeType=audio/flac;audio/x-flac;audio/mpeg;audio/mp2;audio/mp4;audio/x-m4a;audio/x-m4r;audio/aac;audio/x-aac;audio/vnd.wave;audio/wav;audio/x-wav;audio/x-w64;audio/x-aiff;audio/aiff;audio/basic;audio/x-caf;audio/x-voc;audio/vnd.rn-realaudio;audio/x-pn-realaudio;audio/x-ape;audio/x-wavpack;audio/x-tak;audio/x-tta;audio/x-dsf;audio/x-dff;audio/ac3;audio/vnd.dts;audio/ogg;application/ogg;audio/x-vorbis+ogg;audio/x-flac+ogg;audio/x-opus+ogg;audio/opus;audio/x-speex+ogg;audio/x-speex;audio/x-ms-wma;application/vnd.ms-asf;video/x-ms-wmv;audio/x-oma;audio/x-musepack;application/x-cue;audio/x-mpegurl;application/vnd.apple.mpegurl;inode/directory;
StartupNotify=true
